{% from "_formhelpers.html" import render_field, render_pagination, get_rank %}

{% extends "base.html" %}
{% block bodySubClass %}{% endblock %}
{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}
{% block menu %}
{% if current_user.rank > 3 %}
<li class="active"><a href="{{ url_for('settings_module.index') }}">{% trans %}Settings{% endtrans %}</a></li>
<li><a href="{{ url_for('driver_module.list') }}">{% trans %}Drivers{% endtrans %}</a></li>
<li><a href="{{ url_for('shop_module.list') }}">{% trans %}Shops{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 2 %}
<li><a href="{{ url_for('user_module.list') }}">{% trans %}Users{% endtrans %}</a></li>
<li><a href="{{ url_for('category_module.list') }}">{% trans %}Categories{% endtrans %}</a></li>
<li><a href="{{ url_for('product_module.list') }}">{% trans %}Products{% endtrans %}</a></li>
<li><a href="{{ url_for('contacts_module.list') }}">{% trans %}Contacts{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 1 %}
<li><a href="{{ url_for('order_module.list') }}">{% trans %}Orders{% endtrans %}</a></li>
{% endif %}
{% endblock %}
{% block content %}
<style type="text/css">
textarea {
  resize:vertical;
  display: none !important;
}
textarea.active {
  display: block !important;
}
.switcher span{
  padding: 2px 13px;
  border-radius: 2px;
}
.ru {
  background-image: url(/static/market/image/flags/ru.png);
  background-repeat: no-repeat;
  background-position: center;
}
.en {
  background-image: url(/static/market/image/flags/en.png);
  background-repeat: no-repeat;
  background-position: center;
}
.enabled {
  background-color: #3071a9;
}
</style>
<div class="container">
  <div class="jumbotron jumbotron-small help-cont">
    <h1>{% trans %}Settings{% endtrans %}</h1>
    <p class="lead">{% trans %}Base settings of site.{% endtrans %}</p>
  </div>
  <ol class="breadcrumb">
    <li class="active">{% trans %}Settings{% endtrans %}</li>
  </ol>
  <hr>
  <form action="" method="POST" class="form-edit-big">
  <div class="form-group">
    <label for="key">
      {%- trans %}Confirmation code{% endtrans -%}
      <input type="checkbox" name="key" id="key" class="switch" value="1"{% if settings['key']=='1' %} checked{% endif %}/>
      <div><div></div></div>
    </label>
    {# <label for="emoney">
      {%- trans %}Payment cards{% endtrans -%}
      <input type="checkbox" name="emoney" id="emoney" class="switch" value="1"{% if settings['emoney']=='1' %} checked{% endif %}/>
      <div><div></div></div>
    </label> #}
  </div>
  <div class="form-group">
    <label for="about_q">{% trans %}"About" quote{% endtrans %}</label>
    <div class="switcher pull-right">
      <span class="ru{% if session['locale']=='ru' %} enabled{% endif %}" d-param="about_q" d-lang="ru"></span>
      <span class="en{% if session['locale']=='en' %} enabled{% endif %}" d-param="about_q" d-lang="en"></span>
    </div>
    <textarea class="form-control about_q{% if session['locale']=='ru' %} active{% endif %}" name="about_q_ru" id="about_q" rows="3">{{ settings['about_q_ru'] }}</textarea>
    <textarea class="form-control about_q{% if session['locale']=='en' %} active{% endif %}" name="about_q_en" id="about_q" rows="3">{{ settings['about_q_en'] }}</textarea>
  </div>
  <div class="form-group">
    <label for="about_text">{% trans %}"About" text{% endtrans %}</label>
    <div class="switcher pull-right">
      <span class="ru{% if session['locale']=='ru' %} enabled{% endif %}" d-param="about_text" d-lang="ru"></span>
      <span class="en{% if session['locale']=='en' %} enabled{% endif %}" d-param="about_text" d-lang="en"></span>
    </div>
    <textarea class="form-control about_text{% if session['locale']=='ru' %} active{% endif %}" name="about_text_ru" id="about_text" rows="3">{{ settings['about_text_ru'] }}</textarea>
    <textarea class="form-control about_text{% if session['locale']=='en' %} active{% endif %}" name="about_text_en" id="about_text" rows="3">{{ settings['about_text_en'] }}</textarea>
  </div>
  <div class="form-group">
    <label for="address">{% trans %}Address{% endtrans %}</label>
    <div class="switcher pull-right">
      <span class="ru{% if session['locale']=='ru' %} enabled{% endif %}" d-param="address" d-lang="ru"></span>
      <span class="en{% if session['locale']=='en' %} enabled{% endif %}" d-param="address" d-lang="en"></span>
    </div>
    <textarea class="form-control address{% if session['locale']=='ru' %} active{% endif %}" name="address_ru" id="address" rows="1">{{ settings['address_ru'] }}</textarea>
    <textarea class="form-control address{% if session['locale']=='en' %} active{% endif %}" name="address_en" id="address" rows="1">{{ settings['address_en'] }}</textarea>
  </div>
  <div class="form-group">
    <label for="phone">{% trans %}Phone{% endtrans %}</label>
    <input class="form-control" name="phone" id="phone" value="{{ settings['phone'] }}">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" id="email" value="{{ settings['email'] }}">
  </div>
  <div class="form-group">
    <label for="link">ВКонтакте</label>
    <input class="form-control" name="link" id="link" value="{{ settings['link'] }}">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-block" value="{% trans %}Save{% endtrans %}">
  </div>
  </form>
</div>
{% endblock %}