{% from "_formhelpers.html" import render_field, attr_or_val, render_pagination, render_upload_logo, render_upload_about, render_switch, switcher %}

{% extends "base.html" %}
{% block bodySubClass %}{% endblock %}
{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}
{% block menu %}
{% if current_user.rank > 3 %}
<li class="active"><a href="{{ url_for('settings_module.index') }}">{% trans %}Settings{% endtrans %}</a></li>
<li><a href="{{ url_for('driver_module.list') }}">{% trans %}Drivers{% endtrans %}</a></li>
<li><a href="{{ url_for('shop_module.list') }}">{% trans %}Shops{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 2 %}
<li><a href="{{ url_for('user_module.list') }}">{% trans %}Users{% endtrans %}</a></li>
<li><a href="{{ url_for('category_module.list') }}">{% trans %}Categories{% endtrans %}</a></li>
<li><a href="{{ url_for('product_module.list') }}">{% trans %}Products{% endtrans %}</a></li>
<li><a href="{{ url_for('contacts_module.list') }}">{% trans %}Contacts{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 1 %}
<li><a href="{{ url_for('order_module.list') }}">{% trans %}Orders{% endtrans %}</a></li>
{% endif %}
{% endblock %}
{% block content %}
<style type="text/css">
textarea {
  resize:vertical;
  display: none !important;
}
textarea.active {
  display: block !important;
}
.switcher span{
  padding: 2px 13px;
  border-radius: 2px;
}
.ru {
  background-image: url(/static/market/image/flags/ru.png);
  background-repeat: no-repeat;
  background-position: center;
}
.en {
  background-image: url(/static/market/image/flags/en.png);
  background-repeat: no-repeat;
  background-position: center;
}
.enabled {
  background-color: #3071a9;
}
.form-edit-big {
  width: 100%;
}
</style>
<div class="container">
  <div class="jumbotron jumbotron-small help-cont">
    <h1>{% trans %}Settings{% endtrans %}</h1>
    <p class="lead">{% trans %}Base settings of site.{% endtrans %}</p>
  </div>
  <ol class="breadcrumb">
    <li class="active">{% trans %}Settings{% endtrans %}</li>
  </ol>
  <hr>
  <form action="" method="POST" class="form-edit-big" style="float: left;">
  <div class="form-group">
    {{ render_switch(form.key, _(form.key.label.text), settings['key'] if settings['key']|int else 0) }}
    {{ render_switch(form.emoney, _(form.emoney.label.text), settings['emoney'] if settings['emoney']|int else 0) }}
    {{ render_switch(form.pdel, _(form.pdel.label.text), settings['pdel'] if settings['pdel']|int else 0) }}
  </div>
  <div class="form_group">
    {{ switcher(form,'about_q',_('"About" quote'),settings, session['locale']) }}
  </div>
  <div class="form-group">
    {{ switcher(form,'about_text',_('"About" text'),settings, session['locale']) }}
  </div>
  <div class="form-group">
    {{ switcher(form,'address',_('Address'),settings, session['locale']) }}
  </div>
  <div class="form-group">
    {{ form.phone.label }}
    {{ render_field(form.phone, class="form-control", value=attr_or_val(settings.phone, form.phone.data), placeholder=form.phone.label.text) }}
  </div>
  <div class="form-group">
    {{ form.email.label }}
    {{ render_field(form.email, class="form-control", value=attr_or_val(settings.email, form.email.data), placeholder=form.email.label.text) }}
  </div>
  <div class="form-group">
    {{ form.link.label }}
    {{ render_field(form.link, class="form-control", value=attr_or_val(settings.link, form.link.data), placeholder=form.link.label.text) }}
  </div>
  <div class="form-group">
    {{ form.pdelcost.label }}
    {{ render_field(form.pdelcost, class="form-control", value=attr_or_val(settings.pdelcost, form.pdelcost.data), placeholder=form.pdelcost.label.text) }}
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-block" value="{% trans %}Save{% endtrans %}">
  </div>
  </form>
  <div class="form-edit-big" style="float:right;">
    <div class="form-group">
      <label for="logoform">{% trans %}Logo{% endtrans %}</label><br>
      {{ render_field(logo.img, class="form-control hidden", value="/static/market/image/logo.png", required="required") }}
      <img id="img-cont-logo" style="background-color:#000;" width="400" src="/static/market/image/logo.png">
      {{ render_upload_logo('100%') }}
    </div>
    <div class="form-group">
      <label for="aboutform">{% trans %}About{% endtrans %}</label><br>
      {{ render_field(about.img, class="form-control hidden", value="/static/market/image/about-us/image.png", required="required") }}
      <img id="img-cont-about" style="background-color:#000;" width="400" src="/static/market/image/about-us/image.jpg">
      {{ render_upload_about('100%') }}
    </div>
  </div>
</div>
{% endblock %}