{% from "_formhelpers.html" import render_field, render_pagination, get_rank %}

{% extends "base.html" %}
{% block bodySubClass %}{% endblock %}
{% block title %}{% trans %}Categories{% endtrans %}{% endblock %}
{% block menu %}
{% if current_user.rank > 3 %}
<li><a href="{{ url_for('settings_module.index') }}">{% trans %}Settings{% endtrans %}</a></li>
<li><a href="{{ url_for('driver_module.list') }}">{% trans %}Drivers{% endtrans %}</a></li>
<li><a href="{{ url_for('shop_module.list') }}">{% trans %}Shops{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 2 %}
<li><a href="{{ url_for('user_module.list') }}">{% trans %}Users{% endtrans %}</a></li>
<li class="active"><a href="{{ url_for('category_module.list') }}">{% trans %}Categories{% endtrans %}</a></li>
<li><a href="{{ url_for('product_module.list') }}">{% trans %}Products{% endtrans %}</a></li>
<li><a href="{{ url_for('contacts_module.list') }}">{% trans %}Contacts{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 1 %}
<li><a href="{{ url_for('order_module.list') }}">{% trans %}Orders{% endtrans %}</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-small help-cont">
    <h1>{% trans %}Categories{% endtrans %}</h1>
    <p class="lead">{% trans %}Here you can add new category and configure created categories.{% endtrans %}</p>
  </div>
  <ol class="breadcrumb">
    <li class="active">{% trans %}Categories{% endtrans %}</li>
  </ol>
  <a href="{{ url_for('category_module.new') }}" class="btn btn-primary">{% trans %}Create a new category{% endtrans %}</a>
  <button type="button" class="btn btn-default search-button" onclick="window.searchNow('{{ request.base_url }}')">{% trans %}Search{% endtrans %}</button>
  <input type="text" class="form-control search-input" value="{{ query }}" placeholder="{% trans %}Search...{% endtrans %}">
  <hr>
  {{ render_pagination(categories, 'category_module.list') }}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>{% trans %}Category Name{% endtrans %}</th>
        <th>{% trans %}Position{% endtrans %}</th>
        <th>{% trans %}Visible{% endtrans %}</th>
        <th>{% trans %}Category settings{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories.items %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.num }}</td>
        <td>{% if category.visible %}{% trans %}Visible{% endtrans %}{% else %}{% trans %}Not Visible{% endtrans %}{% endif %}</td>
        <td>
          <a href="{{ url_for('category_module.edit', category_id=category.id) }}" class="btn btn-default btn-block">{% trans %}Set-up the category{% endtrans %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ render_pagination(categories, 'category_module.list') }}
</div>
{% endblock %}