{% from "_formhelpers.html" import render_field, render_ranks, attr_or_val, render_image_input %}

{% extends "base.html" %}
{% block bodySubClass %}{% endblock %}
{% block title %}{% trans %}Product settings{% endtrans %}{% endblock %}
{% block menu %}
{% if current_user.rank > 3 %}
<li><a href="{{ url_for('driver_module.list') }}">{% trans %}Drivers{% endtrans %}</a></li>
<li><a href="{{ url_for('shop_module.list') }}">{% trans %}Shops{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 2 %}
<li><a href="{{ url_for('user_module.list') }}">{% trans %}Users{% endtrans %}</a></li>
<li><a href="{{ url_for('category_module.list') }}">{% trans %}Categories{% endtrans %}</a></li>
<li class="active"><a href="{{ url_for('product_module.list') }}">{% trans %}Products{% endtrans %}</a></li>
<li><a href="{{ url_for('contacts_module.list') }}">{% trans %}Contacts{% endtrans %}</a></li>
{% endif %}
{% if current_user.rank > 1 %}
<li><a href="{{ url_for('order_module.list') }}">{% trans %}Orders{% endtrans %}</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-small help-cont">
    <h1>{% trans %}Product settings{% endtrans %}</h1>
    <p class="lead">{% trans %}Here you can change selected product.{% endtrans %}</p>
  </div>
  <ol class="breadcrumb">
    <li><a href="{{ url_for('product_module.list') }}">{% trans %}Products{% endtrans %}</a></li>
    <li class="active">{{ product.name }}</li>
  </ol>
  <form action="" method="POST" class="form-edit-big">
    <input type="hidden" id="id" name="id" value="{{ product.id }}">
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
      {{ form.name.label }}
      {{ render_field(form.name, value=attr_or_val(product.name, form.name.data), class="form-control", placeholder=form.name.label.text, required="required") }}
      {% for error in form.name.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group{% if form.memo.errors %} has-error{% endif %}">
      {{ form.memo.label }}
      <textarea name="memo" id="memo" class="form-control" placeholder="{{ form.memo.label.text }}">{{ attr_or_val(product.memo, form.memo.data) }}</textarea>
      {% for error in form.memo.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group{% if form.price.errors %} has-error{% endif %}">
      {{ form.price.label }}
      <div class="input-group">
        {{ render_field(form.price, value=attr_or_val(product.price, form.price.data), class="form-control", placeholder=form.price.label.text, required="required") }}
        <div class="input-group-addon">{% trans %}rub.{% endtrans %}</div>
      </div>
      {% for error in form.price.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group{% if form.category.errors %} has-error{% endif %}">
      {{ form.category.label }}
      {{ render_field(form.category, value=attr_or_val(product.category_id, form.category.data), class="form-control", placeholder=form.category.label.text, required="required") }}
      {% for error in form.category.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group{% if form.img.errors %} has-error{% endif %}">
      {{ form.img.label }}
      {{ render_field(form.img, value=attr_or_val(product.img, form.img.data), class="form-control hidden", placeholder=form.img.label.text, required="required") }}
      {% for error in form.img.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
      <br>
      <img id="img-cont" width="400" src="{{ attr_or_val(product.img, form.img.data)|thumbnail('400x400') }}" alt="{{ form.img.label.text }}">
      <br><br>
      {{ render_image_input('100%') }}
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block" value="{% trans %}Save{% endtrans %}">
    </div>
    <hr>
    <div class="form-group">
        <a data-toggle="modal" href="{{ url_for('product_module.delete', product_id=product.id) }}" data-target="#modal" class="btn btn-danger btn-block">{% trans %}Delete Product{% endtrans %}</a>
    </div>
  </form>
</div>
{% endblock %}