<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->    
<html dir="ltr">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<base href="{{ config['SITE_URL'] }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% trans %}Checkout{% endtrans %} | {{ config['SITE_NAME'] }}</title>
{% include 'market/functional/scripts.html' %}
{% include 'market/functional/scripts_checkout.html' %}
<script type="text/javascript">
  $(document).ready(function() {
    var loader = $("body").DEPreLoad({
      OnStep: function(percent) {
        $("#depreload .cs_perc").text(percent + "%");
      },
      OnComplete: function() {
        setTimeout(function(){
          $("#depreload").css('display','none');
        }, 200);
      }
    });
    $('#cart > ul').load('/cart_overview');
    $('#step_6').load('/checkview');
  });
  $.ajax({
      url: '/get_streets',
      dataType: 'json',
      success: function(data)
      {
        for(var i in data)
        {
          $('#payment_address_street').append('<option value="'+data[i]['name']+'">'+data[i]['name']+'</option>');
        }
        $('#payment_address_street').select2();
      }
    });
</script>
</head>
<body class="checkout-cart rb-wide-boxed">
<!-- Loader -->
{% include 'market/functional/loader.html' %}
<div id="rb_container" class="rb-wide-boxed " >
{% include 'market/design/header.html' %}
<div class="container">
  <ul class="breadcrumb">
    <li><a href="{{ config['SITE_URL'] }}"><i class="fa fa-home"></i></a></li>
    <li><a href="{{ config['SITE_URL'] }}cart">{% trans %}Shopping Cart{% endtrans %}</a></li>
    <li><a href="{{ config['SITE_URL'] }}checkout">{% trans %}Checkout{% endtrans %}</a></li>
  </ul>
  <div class="row">
    <div id="content" class="col-sm-12">
    {% if empty %}
      <div id="quickcheckout">
        <div class="wrap">
          <div class="block-title">{% trans %}Checkout{% endtrans %}</div>
          <div class="block-content">
            <!--левая колонка-->
            <div id="qc_left" class="aqc-column aqc-column-1" style="width:40%">
              <div id="step_2" data-sort="2" data-row="1" data-column="1" data-width="50" class="blocks" style="display: block;">
                <div id="payment_address_wrap">
                  <!--ТАБЛИЦА: перс.данные-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="wrap"><span class="fa fa-fw qc-icon-profile"></span></span> 
                      <span class="text">{% trans %}Your Personal Details{% endtrans %}</span>
                    </div>
                    <div class="panel-body">
                      <div id="payment_address" class="form-horizontal ">
                        <!--правая колонка-->
                        <div id="firstname_input" class="text-input form-group row sort-item required">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_firstname"> 
                              <span class="text" title="">{% trans %}First Name{% endtrans %}</span> 
                            </label>
                          </div>
                          <div class="col-xs-7"> 
                            <input type="text" name="firstname" id="payment_address_firstname" data-require="require" value="" class="form-control">
                          </div>
                          <div class="col-xs-12 text-danger hidden">{% trans %}The "First Name" can not be empty{% endtrans %}</div>
                        </div>
                        <!--правая колонка-->
                        <div id="lastname_input" class="text-input form-group row sort-item">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_lastname"> 
                              <span class="text" title="">{% trans %}Last Name{% endtrans %}</span> 
                            </label>
                          </div>
                          <div class="col-xs-7"> 
                            <input type="text" name="lastname" id="payment_address_lastname" value="" class="form-control">
                          </div>
                        </div>
                        <!--правая колонка-->
                        <div id="email_input" class="text-input form-group row sort-item required">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_email"> 
                              <span class="text" title="">{% trans %}Email{% endtrans %}</span> 
                            </label>
                          </div>
                          <div class="col-xs-7"> 
                            <input type="text" name="email" id="payment_address_email" data-require="require" value="" class="form-control">
                          </div>
                          <div class="col-xs-12 text-danger hidden">{% trans %}The "Email" can not be empty{% endtrans %}</div>
                          <div class="col-xs-12 secer text-danger hidden">{% trans %}The "Email" incorrect{% endtrans %}</div>
                        </div>
                        <!--правая колонка-->
                        <div id="telephone_input" class="text-input form-group row sort-item required">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_telephone"> 
                              <span class="text" title="">{% trans %}Telephone{% endtrans %}</span> 
                            </label>
                          </div>
                          <div class="col-xs-7"> 
                            <input type="text" name="telephone" id="payment_address_telephone" data-require="require" value="" class="form-control">
                          </div>
                          <div class="col-xs-12 text-danger hidden">{% trans %}The "Telephone" can not be empty{% endtrans %}</div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <!--КОНЕЦ ТАБЛИЦЫ-->
                  <!--ТАБЛИЦА: адресс-->
                  <div id="heading_input" class="panel panel-default sort-item heading ">
                    <div class="panel-heading">
                      <span class="wrap">
                        <span class="fa fa-fw qc-icon-payment-address"></span>
                      </span> 
                      <span>{% trans %}Your Address{% endtrans %}</span>
                    </div>
                    <div class="panel-body">
                      <div class="form-horizontal">
                        <div id="address_street" class="select-input form-group row sort-item required">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_street"> 
                              <span class="text" title="">{% trans %}Street{% endtrans %}</span>
                            </label>
                          </div>
                          <div class="col-xs-7">
                            <select name="street" data-require="require" id="payment_address_street" class="form-control">
                              <option value="">--- {% trans %}Select street{% endtrans %} ---</option>
                            </select>
                          </div>
                          <div class="col-xs-12 text-danger hidden">{% trans %}Select the street from the list{% endtrans %}</div>
                        </div>
                        <div id="address_house" class="text-input form-group row sort-item required">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_house"> 
                              <span class="text" title="">{% trans %}House{% endtrans %}</span>
                            </label>
                          </div>
                          <div class="col-xs-7"> 
                            <input type="text" name="house" id="payment_address_house" data-require="require" value="" class="form-control">
                          </div>
                          <div class="col-xs-12 text-danger hidden">{% trans %}The "House" can not be empty{% endtrans %}</div>
                        </div>
                        <div id="address_apartment" class="text-input form-group row sort-item required">
                          <div class="col-xs-5">
                            <label class="control-label" for="payment_address_apartment"> 
                              <span class="text" title="">{% trans %}Apartment / Office{% endtrans %}</span>
                            </label>
                          </div>
                          <div class="col-xs-7"> 
                            <input type="text" name="apartment" id="payment_address_apartment" data-require="require" value="" class="form-control">
                          </div>
                          <div class="col-xs-12 text-danger hidden">{% trans %}The "Apartment / Office" can not be empty{% endtrans %}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--КОНЕЦ ТАБЛИЦЫ-->
                </div>
              </div>
            </div>
            <!--КОНЕЦ: левая колонка-->
            <!--правая колонка-->
            <div id="qc_right" style="width:60%; float:left">
              <div class="aqc-column aqc-column-4" style="width:100%">
                <!--ТАБЛИЦА: корзина-->
                <div id="step_6" data-sort="6" data-row="2" data-column="4" data-width="50" class="blocks" style="display: block;"></div>
                <!--КОНЕЦ ТАБЛИЦЫ-->
                <!--ТАБЛИЦА: комментарий-->
                <div id="step_8" data-sort="8" data-row="2" data-column="4" data-width="50" class="blocks" style="display: block;">
                  <div id="confirm_wrap">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <span class="wrap"><span class="fa fa-fw qc-icon-shipping-method"></span></span> 
                        <span class="text">{% trans %}Add Comments About Your Order{% endtrans %}</span>
                      </div>
                      <div class="panel-body">
                        <div id="confirm_inputs" class="form-horizontal">
                          <div id="comment_input" class="textarea-input form-group sort-item" data-sort="1">
                            <div class="col-xs-12">
                              <textarea name="comment" id="confirm_comment" data-require="" data-refresh="0" class="form-control" placeholder=" Add Comments About Your Order"></textarea>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div>
                          <div class="buttons">
                            <div class="right">
                              <button type="button" onclick="validateAllFields()" id="qc_confirm_order" class="button btn btn-primary">{% trans %}Confirm Order{% endtrans %}</button>
                            </div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--КОНЕЦ ТАБЛИЦЫ-->
              </div>
            </div>
            <!--КОНЕЦ: правая колонка-->
            <script type="text/javascript">
              var cobtadd = {
                'cart': function(product_id) {
                  $.ajax({
                    url: '/add_product/'+product_id+'/1',
                    type: 'get',
                    dataType: 'json',
                    success: function(json) {
                      if (json['result']=='success') {
                        addProductNotice(json['last']['name'], '<img src="'+json['last']['img']+'" alt="'+json['last']['name']+'" width="110px">', json['success'], 'success');
                        $('#cart-total').html(json['cartheader']);
                        $('#cart > ul').load('/cart_overview');
                        $('#step_6').load('/checkview');
                      }
                    }
                  });
                },
                'uncart': function(product_id) {
                  $.ajax({
                    url: '/remove_product/'+product_id,
                    type: 'get',
                    dataType: 'json',
                    success: function(json) {
                      if (json['result']=='success') {
                        addProductNotice(json['last']['name'], '<img src="'+json['last']['img']+'" alt="'+json['last']['name']+'" width="110px">', json['success'], 'success');
                        $('#cart-total').html(json['cartheader']);
                        $('#cart > ul').load('/cart_overview');
                        $('#step_6').load('/checkview');
                      }
                    }
                  });
                }
              };
              function validateAllFields(){
                var no_error = true;
                if($('#firstname_input input').val()===''){no_error = false;$('#firstname_input div.col-xs-12').removeClass('hidden');}else{$('#firstname_input div.col-xs-12').addClass('hidden');}
                if($('#email_input input').val()===''){no_error = false;$('#email_input div.col-xs-12:not(".secer")').removeClass('hidden');$('#email_input div.col-xs-12.secer').addClass('hidden');}else{if( !(/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/i.test($('#email_input input').val())) ){$('#email_input div.col-xs-12').addClass('hidden');$('#email_input div.col-xs-12.secer').removeClass('hidden');}else{$('#email_input div.col-xs-12:not(".secer")').addClass('hidden');}}
                if($('#telephone_input input').val()===''){no_error = false;$('#telephone_input div.col-xs-12').removeClass('hidden');}else{$('#telephone_input div.col-xs-12').addClass('hidden');}
                if($('#address_street select').val()===''){no_error = false;$('#address_street div.col-xs-12').removeClass('hidden');}else{$('#address_street div.col-xs-12').addClass('hidden');}
                if($('#address_house input').val()===''){no_error = false;$('#address_house div.col-xs-12').removeClass('hidden');}else{$('#address_house div.col-xs-12').addClass('hidden');}
                if($('#address_apartment input').val()===''){no_error = false;$('#address_apartment div.col-xs-12').removeClass('hidden');}else{$('#address_apartment div.col-xs-12').addClass('hidden');}
                if(no_error){
                  $.ajax({
                    url: '/order_create',
                    type: 'post',
                    data:  $('#quickcheckout input, #quickcheckout select[data-require=require],#quickcheckout textarea'),
                    dataType: 'json',
                    beforeSend: function() {
                    },
                    complete: function() {
                    },
                    success: function(data) {
                      if(data['status'] == "true"){
                        document.location.href = '/checkout/success';
                      }
                    }
                  });
                }
              }
            </script>
          </div>
        </div>
      </div>
    {% else %}
      <h1>{% trans %}Shopping Cart{% endtrans %}</h1>
      <p>{% trans %}Your shopping cart is empty{% endtrans %}!</p>
    {% endif %}
    </div>
  </div>
</div>
{% include 'market/design/footer.html' %}
</body>
</html>