<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->    
<html dir="ltr">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<base href="{{ config['SITE_URL'] }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ product.name }} | {{ config['SITE_NAME'] }}</title>
{% include 'market/functional/scripts.html' %}
<script type="text/javascript">
  $(document).ready(function() {
    var loader = $("body").DEPreLoad({
      OnStep: function(percent) {
        $("#depreload .cs_perc").text(percent + "%");
      },
      OnComplete: function() {
        setTimeout(function(){
          $("#depreload").css('display','none');
          $(".bosszoomtoolbox").css('display','block');
        }, 200);
      }
    });
    $('#cart > ul').load('/cart_overview');
  });
</script>
</head>
<body class="product-product-{{ product.id }} rb-wide-boxed">
<!-- Loader -->
{% include 'market/functional/loader.html' %}
<div id="rb_container" class="rb-wide-boxed " >
{% include 'market/design/header.html' %}
<div class="rb-breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href=""><i class="fa fa-home"></i></a></li>
			<li><a href="{{ config['SITE_URL'] }}{{ category.name }}">{{ category.name }}</a></li>
			<li><a href="{{ config['SITE_URL'] }}product/{{ product.id }}">{{ product.name }}</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div id="content" class="col-sm-12">
			<div class="product-info">
				<div class="row">
					<div class="left pull-left col-sm-8 col-xs-12">
						<div class="rb-product-zoom">
							<div class="bosszoomtoolbox" style="display: none;">
								<ul class="thumbnails">
									<li>
										<div id="wrap" style="top:0px;z-index:100;position:relative;">
											<a href="{{ product.img |thumbnail('1300x1300') }}" title="{{ product.name }}" class="cloud-zoom" id="zoom1" rel="" style="position: relative; display: block;">
												<img src="{{ product.img |thumbnail('600x600') }}" title="{{ product.name }}" alt="{{ product.name }}" id="image" style="display: block;">
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right pull-right col-sm-4 col-xs-12">
						<h2>{{ product.name }}</h2>
						<ul class="list-unstyled description">
							<li>Состав: {{ product.memo }}</li>
						</ul>
						<div>
							<label class="control-label" for="input-quantity">{% trans %}Quantity{% endtrans %}</label>
							<div class="select_number">                
								<input type="text" class="text form-control" name="quantity" size="2" id="input-quantity" value="1" />
								<button onclick="changeQty(0); return false;" class="decrease">-</button>  
								<button onclick="changeQty(1); return false;" class="increase">+</button>
							</div>
								<input type="hidden" name="product_id" value="{{ product.id }}" />
							<div class="price_info">
								<span class="price-new">{{ product.price }}{% trans %}rub.{% endtrans %}</span>
							</div>
							<div class="cart_button">
								<div class="boss_cover"><span class="cart_icon"></span></div>
								<button type="button" id="button-cart-qs" data-loading-text="{% trans %}Loading{% endtrans %}..." class="btn button_cart">{% trans %}Add to Cart{% endtrans %}</button>
							</div>
							<div class="btn-group dropdown-share">
								<ul class="nav">
									<li class="parent">
										<a class="btn-wishlist" title="{% trans %}Share{% endtrans %}!"><i class="fa fa-heart"></i></a>
										<div class="dropdown">
											<ul>
												<li><a class="button btn-wishlist" onclick="Share.vkontakte('{{ config['SITE_URL'] }}product/{{ product.id }}','{{ product.name }}','{{ product.img |thumbnail('1300x1300') }}','')"><i class="sb sb-vk"></i></a></li>
												<li><a class="button btn-wishlist" onclick="Share.facebook('{{ config['SITE_URL'] }}product/{{ product.id }}','{{ product.name }}','{{ product.img |thumbnail('1300x1300') }}','')"><i class="sb sb-fb"></i></a></li>
												<li><a class="button btn-wishlist" onclick="Share.odnoklassniki('{{ config['SITE_URL'] }}product/{{ product.id }}','{{ product.name }}')"><i class="sb sb-ok"></i></a></li>
												<li><a class="button btn-wishlist" onclick="Share.twitter('{{ config['SITE_URL'] }}product/{{ product.id }}','{{ product.name }}')"><i class="sb sb-tw"></i></a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  function changeQty(increase) {
      var qty = parseInt($('.product-info .select_number').find("input").val());
      if ( !isNaN(qty) ) {
          qty = increase ? qty+1 : (qty > 1 ? qty-1 : 1);
          $('.product-info .select_number').find("input").val(qty);
      }
  } 
  
  $.fn.CloudZoom.defaults = {
    position: 'inside',
    tint: '#FFFFFF',
    tintOpacity: 1,
    lensOpacity: 1,
    softFocus: false,
    smoothMove: '3',
    showTitle: false,
    titleOpacity: 0.5,
    adjustX: 0,
    adjustY: 0
  }; 
    
  $('#button-cart-qs').bind('click', function() {
    var id = $('.product-info input[type=\'hidden\']').val();
    var counts = $('.product-info input[type=\'text\']').val();
    $.ajax({
      url: '{{ config['SITE_URL'] }}add_product/'+id+'/'+counts,
      type: 'get',
      dataType: 'json',
      success: function(json) {
      $('.warning, .attention, information, .error').remove();
      $('.alert, .text-danger').remove();
      $('.form-group').removeClass('has-error');
          if (json['result']=='success') {
              addProductNotice(json['last']['name'], '<img src="'+json['last']['img']+'" alt="'+json['last']['name']+'" width="110px">', json['success'], 'success');
              $('#cart-total').html(json['cartheader']);
              $('#cart > ul').load('/cart_overview');
              $('#myModal').modal('hide');
              $('#myModal').on('hidden.bs.modal', function () {
                  $('#myModal > .modal-dialog').remove();
                  $('.rb-comb.rb-menu-fixed').css('padding-right','');    
              });
          }
        }
    });
  }); 
</script>
{% include 'market/design/footer.html' %}
</div>
</body>
</html>