<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->    
<html dir="ltr">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<base href="{{ config['SITE_URL'] }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% trans %}Site Map{% endtrans %} | {{ config['SITE_NAME'] }}</title>
{% include 'market/functional/scripts.html' %}
<script type="text/javascript"><!--
  $(document).ready(function() {
    var loader = $("body").DEPreLoad({
      OnStep: function(percent) {
        $("#depreload .cs_perc").text(percent + "%");
      },
      OnComplete: function() {
        setTimeout(function(){
          $("#depreload").css('display','none');
          $(".bosszoomtoolbox").css('display','block');
        }, 200);
      }
    });
    $('#cart > ul').load('/cart_overview');
  });
  //--></script>
</head>
<body class="sitemap rb-wide-boxed">
{% include 'market/functional/loader.html' %}
<div id="rb_container" class="rb-wide-boxed" >
{% include 'market/design/header.html' %}
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="{{ config['SITE_URL'] }}"><i class="fa fa-home"></i></a></li>
      <li><a href="{{ config['SITE_URL'] }}sitemap">{% trans %}Site Map{% endtrans %}</a></li>
    </ul>
    <div class="row">
      <div id="content" class="col-sm-12">
        <h1>{% trans %}Site Map{% endtrans %}</h1>
          <div class="col-sm-3">
            <ul>
              <h3>{% trans %}Infromation{% endtrans %}</h3>
              <li><a href="{{ config['SITE_URL'] }}cart">{% trans %}Shopping Cart{% endtrans %}</a></li>
              <li><a href="{{ config['SITE_URL'] }}checkout">{% trans %}Checkout{% endtrans %}</a></li>
              <li><a href="{{ config['SITE_URL'] }}about">{% trans %}About Us{% endtrans %}</a></li>
              <li><a href="{{ config['SITE_URL'] }}contact">{% trans %}Contact us{% endtrans %}</a></li>
            </ul>
          </div>
          {% for category in categories_all %}
          {% if products_by_cat[category.name] %}
          <div class="col-sm-4">
            <ul>
              <h3><a href="{{ config['SITE_URL'] }}{{ category.name }}">{{ category.name }}</a></h3>
              {% for product in products_by_cat[category.name] %}
                <li><a href="{{ config['SITE_URL'] }}/product/{{ product.id }}">{{ product.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
{% include 'market/design/footer.html' %}
</div>
</body>
</html>