<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Order{% endtrans %}</h4>
</div>
<div class="modal-body">
  <p>{% trans %}Are you sure, that you want to delete order with id{% endtrans %} "{{ order.id }}"?</p>
</div>
<div class="modal-footer">
  <form action="{{ url_for('order_module.delete', order_id=order.id, next=next) }}" method="POST">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    <input type="submit" class="btn btn-danger" value="{% trans %}Delete{% endtrans %}">
  </form>
</div>